section#experience {

  min-height: 90vh;
  padding: 20px 60px 0;
  max-width: 60%;
  margin: 0 auto;
}

.experienceHeadline {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 0 50px 0;
  font-family: var(--fontFamily-serif);
  font-size: 2.5em;
}

.experienceHeadline span {
  margin-right: 10px;
  color: var(--color-secondary);
}

.experienceHeadline::after {
  content: "";
  display: block;
  width: 30%;
  height: 1px;
  background-color: var(--color-primary-tint);
  margin-left: 20px;
}

.experienceContent {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 4fr;
}

.arrow {
  font-size: 25px;
}

.companyContentHolder,
.company ul {
  font-family: var(--fontFamily-sans);
}

.company ul li {
  border-left: 2px solid var(--color-secondary);
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 10px 20px;
  width: auto;
}

.company ul li:hover {
  background-color: var(--color-primary-tint);
  border-left: 2px solid var(--color-primary);
}

.company ul li.active {
  background-color: var(--color-primary-tint);
  border-left: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.companyContentHolder .title {
  font-size: 2.2em;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-family: var(--fontFamily-serif);
  color: var(--color-third);
}

.companyContentHolder .companyName{
  color: var(--color-secondary);
}

.companyContentHolder .companyName span{
  color: var(--color-primary);
}
.companyContentHolder .companyName .name{
  color: var(--color-text);
}

.companyContentHolder .timeToWorking {
  font-size: 0.8em;
  color: var(--color-secondary);
  margin-bottom: 20px;
}

.jobDesc ul > li {
  list-style: none;
  padding-left: 20px;
  position: relative;
}

.jobDesc ul > li::before {
  content: "▹";
  position: absolute;
  left: 0;
  color: var(--color-primary);
}

.mobileScrollIcon{
  display: none;
}

@media (max-width: 850px){

  .mobileScrollIcon{
    display: flex;
    justify-content: center;
    color: var(--color-secondary);
  }

  section#experience{
    margin-top: 50px;
    max-width: 80%;
    padding: 20px 0 0;
    margin-bottom: 50px;
  }

  #experience .experienceHeadline{
    font-size: 1.5em !important;
    margin-bottom: 20px;
  }

  .experienceHeadline{
    justify-content: flex-start;
  }

  .experienceHeadline::after{
    display: none;
  }

  .experienceContent{
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .company ul{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-bottom: 5px;
  }

  .company ul li{
    width: auto;
    border-top: 0;
    border-left: 0;
    min-width: 150px;
    text-align: center;
  }

  .company ul li:hover {
    background-color: var(--background-color);
    border-top: 0;
    border-left: 0;
  }
  
  .company ul li.active {
    background-color: var(--color-primary-tint);
    border-top: 2px solid var(--color-primary);
    border-left: 0;
  }

  .company ul::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--background-color-dark);
  }
  
  .company ul::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: var(--background-color);
  }
  
  .company ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    
    background-color: var(--color-third);
  }

  .companyContentHolder .title{
    font-size: 1.5em;
  }

}